.container {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  margin: 0 auto;
}

.selection {
  display: flex;
}

.selection > p {
  padding: 0px 10px;
}
